---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Skyline Technologies | Home"
  description="Meta description for the page"
>

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-2285">
    <div class="cs-container">
        <span class="cs-int-title">Projects</span>
        <p class="cs-text">
            
        </p>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-mali-68470.jpg?updatedAt=1750728044222">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-mali-68470.jpg?updatedAt=1750728044222">
        <img decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-mali-68470.jpg?updatedAt=1750728044222" alt="construction" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1374">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Explore Our Recently Completed Work</h2>
            <p class="cs2-text">
                Browse our gallery to see the care, creativity, and craftsmanship we bring to every project. From lush lawns
                and vibrant gardens to stunning hardscapes and complete outdoor transformations, each photo showcases
                what we do best—turning outdoor spaces into something truly special.
            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Card 1 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/garden-56719_1280.jpg?updatedAt=1750721341728">
                        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/garden-56719_1280.jpg?updatedAt=1750721341728">
                        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/garden-56719_1280.jpg?updatedAt=1750721341728" alt="fancy house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Cottage Backyard</h3>
                            <span class="cs-desc">A charming, cozy retreat with natural stone paths, wildflower beds, and rustic garden features—perfect for a peaceful escape right at home.</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 2 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/japanese-garden-6580452_1280.jpg?updatedAt=1750721340900">
                        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/japanese-garden-6580452_1280.jpg?updatedAt=1750721340900">
                        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/japanese-garden-6580452_1280.jpg?updatedAt=1750721340900" alt="modern house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Japanese Style Oriental Pathway</h3>
                            <span class="cs-desc">A serene, Zen-inspired design featuring smooth stepping stones, bamboo accents, and carefully placed greenery to create balance and harmony.</span>
                        </div>

                    </div>
                </a>
            </li>
            <!-- Card 3 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/garden-4642335_1280.jpg?updatedAt=1750721313395">
                        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/garden-4642335_1280.jpg?updatedAt=1750721313395">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/garden-4642335_1280.jpg?updatedAt=1750721313395" alt="modern home at night" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Modern Park</h3>
                            <span class="cs-desc">Sleek lines, open spaces, and minimalist greenery come together in this contemporary outdoor space made for relaxing or entertaining.</span>
                        </div>

                    </div>
                </a>
            </li>
            <!-- Card 4 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-pixabay-158028.jpg?updatedAt=1750728044173">
                        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-pixabay-158028.jpg?updatedAt=1750728044173">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-pixabay-158028.jpg?updatedAt=1750728044173" alt="modern home" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Autumn Path</h3>
                            <span class="cs-desc">Warm-toned foliage, crisp edges, and winding walkways bring the beauty of fall to life all year round in this vibrant landscape.</span>
                        </div>

                    </div>
                </a>
            </li>
            <!-- Card 5 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-pixabay-280222.jpg?updatedAt=1750730629679">
                        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-pixabay-280222.jpg?updatedAt=1750730629679">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-pixabay-280222.jpg?updatedAt=1750730629679" alt="appliance" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Lined Front Lawn</h3>
                            <span class="cs-desc">A fresh, polished look with neatly edged grass, trimmed shrubs, and a welcoming layout that boosts curb appeal instantly.</span>
                        </div>

                    </div>
                </a>
            </li>
            <!-- Card 6 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-matthiaszomer-233237.jpg?updatedAt=1750730629546">
                        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-matthiaszomer-233237.jpg?updatedAt=1750730629546">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-matthiaszomer-233237.jpg?updatedAt=1750730629546" alt="modern home" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Lakeside View</h3>
                            <span class="cs-desc">A scenic, natural design that blends seamlessly with the water’s edge—featuring native plants, stone seating, and peaceful views.</span>
                        </div>

                    </div>
                </a>
            </li>
        </ul>
        <a href="/" class="cs-button-solid">View All Works</a>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                

</BaseLayout>

                                
<style lang="less">

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    #gallery-1374 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-image-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;
            /* 16px - 60px */
            gap: clamp(1rem, 4.3vw, 3.75rem);
        }

        .cs-link {
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            height: 100%;
            margin: 0;
            grid-column: span 12;

            &:hover {
                .cs-h3,
                .cs-desc {
                    color: #fff;
                }

                .cs-item-text {
                    background-color: var(--primary);
                }

                .cs-icon-wrapper {
                    border-color: #fff;
                }

                .cs-icon {
                    filter: brightness(1000%) grayscale(1);
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* 344px - 420px */
            height: clamp(21.5rem, 30vw, 26.25rem);
            margin: auto;
            border-radius: (24/16rem);
            display: block;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-item-text {
            /* 16px - 20px top & bottom, 16px - 40px left & right */
            padding: clamp(1rem, 2vw, 1.25rem) clamp(1rem, 2.8vw, 2.5rem);
            background-color: #f7f7f7;
            border-radius: (24/16rem);
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* makes the item text the element that grows to fill the container */
            flex-grow: 1;
            gap: (16/16rem);
            transition: background-color 0.3s;
        }

        .cs-flex {
            display: flex;
            flex-direction: column;
            gap: (8/16rem);
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            color: #1a1a1a;
            transition: color 0.3s;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.2vw, 1rem);
            line-height: 1.5em;
            color: #1a1a1a;
            transition: color 0.3s;
        }

        .cs-icon-wrapper {
            width: (48/16rem);
            height: (48/16rem);
            border: 1px solid #bababa;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents the parent flexbox from shrinking the icon */
            flex-shrink: 0;
            transition: border-color 0.3s;
        }

        .cs-icon {
            width: auto;
            height: (12/16rem);
            transition: filter 0.3s;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            overflow: hidden;
            padding: 0 (24/16rem);
            color: #fff;
            background-color: var(--primary);
            border-radius: (48/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-bubbles {
            width: (415/16rem);
            height: (546/16rem);
            position: absolute;
            right: (-164/16rem);
            bottom: (-46/16rem);
            z-index: -1;

            &:before {
                /* white border bubble */
                content: "";
                width: (341/16rem);
                height: (341/16rem);
                background: transparent;
                opacity: 1;
                border: 1px solid #1a1a1a;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                animation-name: floatAnimation;
                animation-duration: 5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }

            &:after {
                /* orange bubble */
                content: "";
                width: (341/16rem);
                height: (341/16rem);
                background: var(--primary);
                opacity: 0.1;
                border-radius: 50%;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                animation-name: floatAnimation2;
                animation-duration: 14s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
        }
    }
}

/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
    #gallery-1374 {
        .cs-item {
            grid-column: span 6;
        }
    }
}

                                

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-2285{
        padding: var(--sectionPadding);
        /* 190px - 280px */
        padding-top: clamp(11.875rem, 25vw, 17.5rem);
        padding-bottom: (0/16rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (16/16rem);
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            text-align: left;
            /* 60px - 120px */
            margin-bottom: clamp(3.75rem, 7vw, 7.5rem);
            max-width: (700/16rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-breadcrumbs {
            padding: clamp(1rem, 3vw, 1.5rem) 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 200vw;
                height: 100%;
                background-color: #fff;
                opacity: .12;
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
            }

            &:after {
                content: '';
                width: 200vw;
                height: 100%;
                backdrop-filter: blur(16px);
                -webkit-backdrop-filter: blur(16px);
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
            }
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: "";
                width: (1/16rem);
                height: (24/16rem);
                margin: 0 (16/16rem);
                background-color: #88898B;
                position: relative;
                display: block;
            }

            &.cs-active {
                color: var(--primary);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* gradient overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.72;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
                z-index: -1;
            }
        }
    }
}
                                
                                
</style>

