---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Skyline Technologies | Home"
  description="Meta description for the page"
>

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-2285">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <p class="cs-text">
        </p>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-mali-68470.jpg?updatedAt=1750728044222">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-mali-68470.jpg?updatedAt=1750728044222">
        <img decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-mali-68470.jpg?updatedAt=1750728044222" alt="construction" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="ABoutRPsbs-328">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-sushil-laishram-84201-271160.jpg?updatedAt=1750735300067">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-sushil-laishram-84201-271160.jpg?updatedAt=1750735300067">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-sushil-laishram-84201-271160.jpg?updatedAt=1750735300067" alt="lawyers" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-dianne-60973-226407.jpg?updatedAt=1750735300055">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-dianne-60973-226407.jpg?updatedAt=1750735300055">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-dianne-60973-226407.jpg?updatedAt=1750735300055" alt="gavel" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Skyline Landscaping</h2>
            <p class="cs2-text">
                Skyline Landscaping is a locally trusted company dedicated to transforming outdoor spaces into beautiful, livable environments. With a passion for nature and a commitment to craftsmanship, we specialize in
                landscaping, hardscaping, and garden design that reflects our clients’ lifestyles and vision. Whether it's a serene backyard retreat or a striking front yard makeover, we bring creativity, precision, and care to every project.
            </p>
            <div class="cs2-quote">
                <span class="cs-quote-text">
                    
                </span>
                <span class="cs-name">Justin Time</span>
                <span class="cs-job">CEO-Founder</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
            </div>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="AboutRPsbsr-328">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-matthiaszomer-233237.jpg?updatedAt=1750730629546">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-matthiaszomer-233237.jpg?updatedAt=1750730629546">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-matthiaszomer-233237.jpg?updatedAt=1750730629546" alt="lawyers" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-pixabay-158028.jpg?updatedAt=1750728044173">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-pixabay-158028.jpg?updatedAt=1750728044173">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/rkthvltxq/Landscaping/pexels-pixabay-158028.jpg?updatedAt=1750728044173" alt="gavel" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Our Story</span>
            <h2 class="cs-title">What We Stand For</h2>
            <p class="cs2-text">
                Skyline Landscaping began with a simple passion: turning outdoor spaces into places people love to live in. Founded by a local husband-and-wife team with roots in gardening, design, and construction, the company started as a weekend side project helping neighbors with their yards. As word spread and demand grew, what began as a labor of love quickly blossomed into a full-time business.
                <br></br>
                Built on the values of honesty, hard work, and creativity, Skyline Landscaping was created to bring beauty and function to every corner of our community. We believe that a well-designed landscape doesn't just add value to your property—it adds joy to your life. Today, we're proud to serve homeowners across the region with custom outdoor solutions that reflect who they are and how they live.
            </p>
            <p class="cs2-text">
                
            </p>
        </div>
    </div>
</section>
             
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="AboutStrip-328">
    <ul class="cs-stat-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-gold.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Phone</span>
                <a href="tel:555-456-7899" class="cs-link">+1 (678) 718-2430</a>
                <a href="tel:555-456-7899" class="cs-link"></a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-gold.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Address</span>
                <a href="" class="cs-link">123 Ransom Lane <br> Oak Harbor, WA 98101</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/clock-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Open Hours</span>
                <span class="cs-hours">Monday To Saturday</span>
                <span class="cs-hours">9:00 AM - 10:30 PM</span>
            </div>
        </li>
    </ul>
</div>
    
                                
<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1677">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Team</span>
            <h2 class="cs-title">Our Expert Team Members</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/day-care-team-one.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/day-care-team-one.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/day-care-team-one.png" alt="person" width="290" height="380">
                </picture>
                <a href="" class="cs-link" aria-label="LinkedIn" target="_blank" rel="noopener">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-linkedin.svg" alt="facebook" width="22" height="22">
                </a>
                <div class="cs-info">
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">Founder</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/day-care-team-three.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/day-care-team-three.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/day-care-team-three.png" alt="person" width="290" height="380">
                </picture>
                <a href="" class="cs-link" aria-label="LinkedIn" target="_blank" rel="noopener">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-linkedin.svg" alt="facebook" width="22" height="22">
                </a>
                <div class="cs-info">
                    <span class="cs-name">Leslie Alexander</span>
                    <span class="cs-job">Project Manager</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg" alt="person" width="290" height="380">
                </picture>
                <a href="" class="cs-link" aria-label="LinkedIn" target="_blank" rel="noopener">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-linkedin.svg" alt="facebook" width="22" height="22">
                </a>
                <div class="cs-info">
                    <span class="cs-name">Wade Warren</span>
                    <span class="cs-job">Project Manager</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/day-care-team-two.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/day-care-team-two.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/day-care-team-two.png" alt="person" width="290" height="380">
                </picture>
                <a href="" class="cs-link" aria-label="LinkedIn" target="_blank" rel="noopener">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-linkedin.svg" alt="facebook" width="22" height="22">
                </a>
                <div class="cs-info">
                    <span class="cs-name">Jenny Wilson</span>
                    <span class="cs-job">Project Manager</span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                                                   

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1668">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-header">Projects Completed</span>
                <span class="cs-number">886</span>
            </li>
            <li class="cs-item">
                <span class="cs-header">Satisfied Customers</span>
                <span class="cs-number">2k</span>
            </li>
            <li class="cs-item">
                <span class="cs-header">Repeat Customers</span>
                <span class="cs-number">475</span>
            </li>
            <li class="cs-item">
                <span class="cs-header">Professional Team</span>
                <span class="cs-number">37</span>
            </li>
        </ul>
    </div>
</section>
                                
                                                                            
<!-- ============================================ -->
<!--                      FAQ                     -->
<!-- ============================================ -->

<section id="faq-1582">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">FAQ</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">1. How do I get started with a landscaping project?</h3>
                    <p class="cs-item-text">
                       Simply reach out through our contact form or give us a call to schedule a free consultation. We'll walk through your goals, preferences, and budget to create a custom plan.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">2. Do you offer both residential and commercial services?</h3>
                    <p class="cs-item-text">
                        Yes, we provide landscaping solutions for both homes and businesses. Whether it's a backyard retreat or a professional storefront, we tailor our work to fit your needs.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">3. What is hardscaping and how is it different from landscaping?</h3>
                    <p class="cs-item-text">
                        Hardscaping refers to the non-living elements like patios, walkways, and retaining walls. Landscaping includes the living components like plants, grass, and garden design.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">4. How long does a typical project take?</h3>
                    <p class="cs-item-text">
                        Project timelines vary based on size and complexity, but most residential jobs are completed within 1–3 weeks. We provide a detailed timeline before any work begins.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">5. Can you work within a specific budget?</h3>
                    <p class="cs-item-text">
                        Absolutely—we offer flexible options and transparent pricing to help you stay within budget. We'll recommend materials and designs that align with both your vision and finances.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">6. Do you handle maintenance after installation?</h3>
                    <p class="cs-item-text">
                        Yes, we offer ongoing maintenance plans to keep your outdoor space looking its best. From seasonal clean-ups to routine care, we’ve got you covered.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                              

</BaseLayout>

<style lang="less">
/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-2285{
        padding: var(--sectionPadding);
        /* 190px - 280px */
        padding-top: clamp(11.875rem, 25vw, 17.5rem);
        padding-bottom: (0/16rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (16/16rem);
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            text-align: left;
            /* 60px - 120px */
            margin-bottom: clamp(3.75rem, 7vw, 7.5rem);
            max-width: (700/16rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-breadcrumbs {
            padding: clamp(1rem, 3vw, 1.5rem) 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 200vw;
                height: 100%;
                background-color: #fff;
                opacity: .12;
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
            }

            &:after {
                content: '';
                width: 200vw;
                height: 100%;
                backdrop-filter: blur(16px);
                -webkit-backdrop-filter: blur(16px);
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
            }
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: "";
                width: (1/16rem);
                height: (24/16rem);
                margin: 0 (16/16rem);
                background-color: #88898B;
                position: relative;
                display: block;
            }

            &.cs-active {
                color: var(--primary);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* gradient overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.72;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
                z-index: -1;
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #sbs-2362 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1800/16rem);
            margin: auto;
            /* 16px - 80px */
            padding: clamp(1rem, 4.5vw, 5rem);
            box-sizing: border-box;
            background-color: #F1EEEC;
            display: flex;
            flex-direction: column;
        }

        .cs-wrapper {
            /* changes at tablet */
            width: 100%;
            max-width: (890/16rem);
            display: flex;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 8vw, 4rem);
        }

        .cs-content {
            width: 100%;
            text-align: left;
            /* 24px - 60px top & bottom */
            /* 16px - 60px left & right */
            padding: clamp(1.5rem, 7vw, 3.75rem) clamp(1rem, 7vw, 3.75rem);
            box-sizing: border-box;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title, .cs-text {
            text-align: inherit;
        }

        .cs-text {
            margin-bottom: (16/16rem);

            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            text-align: center;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 6vw, 3.5rem);
            font-weight: 700;
            text-decoration: none;
            padding: 0 (32/16rem);
            color: var(--bodyTextColorWhite);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                content: '';
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }
        }

        .cs-stat-group {
            /* changes on tablet */
            width: 100%;
            max-width: (702/16rem);
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: (16/16rem);
        }

        .cs-stat {
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (4/16rem);
            grid-column: span 2;
        }

        .cs-number {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 7vw, 2.875rem);
            text-align: inherit;
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-color {
            color: var(--primary);
        }

        .cs-desc {
            /* 16px - 20px */
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-image-group {
            width: 100%;
            height: 90vw;
            max-height: (450/16rem);
            order: -1;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }

        .cs-video-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-decoration: none;
            /* 32px - 40px */
            padding: (16/16rem) clamp(2rem, 4vw, 2.5rem) (16/16rem) (16/16rem);
            background-color: #F1EEEC;
            color: var(--headerColor);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (16/16rem);
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .cs-icon-wrapper {
            /* 46px - 56px */
            width: clamp(2.875rem, 6vw, 3.5rem);
            height: clamp(2.875rem, 6vw, 3.5rem);
            background-color: var(--headerColor);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: (16/16rem);
            height: auto;
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2362 {
        .cs-container {
            flex-direction: row;
        }

        .cs-wrapper {
            width: 57%;
            margin-left: (-60/16rem);
            /* 44px - 130px */
            padding: clamp(2.75rem, 6vw, 8.125rem) 0;
            align-items: flex-end;
            flex: none;
            position: relative;
            z-index: 2;
        }

        .cs-stat-group {
            width: 80%;
        }

        .cs-image-group {
            max-width: (810/16rem);
            height: auto;
            max-height: 100%;
        }
    }
}
                                

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-1668 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
    
        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: (0/16rem);
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (8/16rem);
        }
    
        .cs-item {
            list-style: none;
            text-align: left;
            /* 20px - 40px */
            padding: clamp(1.25rem, 2vw, 2.5rem) (16/16rem);
            grid-column: span 6;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (16/16rem);
            position: relative;
    
            &:after {
                /* grey lines */
                content: "";
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                margin: 0;
                background: #e8e8e8;
                opacity: 1;
                position: absolute;
                display: block;
            }
    
            &:nth-of-type(2) {
                &:after {
                    display: none;
                }
            }
    
            &:last-of-type {
                &:after {
                    display: none;
                }
            }
        }
    
        .cs-header {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--primary);
            display: block;
        }
    
        .cs-number {
            /* 60px - 400px */
            font-size: clamp(3.75rem, 9.8vw, 6.25rem);
            line-height: 1em;
            font-weight: 300;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #stats-1668 {
        .cs-card-group {
            display: flex;
            justify-content: space-between;
        }

        .cs-item {
            width: 100%;
            max-width: (260/16rem);
            padding-left: 0;

            &:nth-of-type(1) {
                padding-left: 0;
            }

            &:nth-of-type(2) {
                &:after {
                    display: block;
                }
            }
        }
    }
}
                                
                                
                                                                                               
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1108 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 32px - 48px */
            gap: clamp(2rem, 6vw, 3rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* 32px - 48px */
            margin: 0 0 clamp(2rem, 5vw, 3rem);
        }

        .cs-picture {
            width: 100%;
            /* 360px - 400px */
            height: clamp(22.5rem, 54vw, 25rem);
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-faq-group {
            width: 100%;
            max-width: (650/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: #f7f7f7;
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            transition: border-bottom 0.3s;

            &.active {
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primary);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primary);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem)
                        clamp(1.25rem, 1.3vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 20px - 24px */
            padding: clamp(1.25rem, 2vw, 1.5rem);
            background-color: #f7f7f7;
            border: none;
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: (24/16rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: (21/16rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-1108 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 40%;
            text-align: left;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

                                
                                
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-1677 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: 0;
            max-width: 23ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 20px - 40px */
            column-gap: clamp(1.25rem, 1.9vw, 2.5rem);
            /* 24px - 40px */
            row-gap: clamp(1.5rem, 3vw, 2.5rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            gap: (16/16rem);

            &:hover {
                cursor: pointer;

                .cs-link {
                    opacity: 1;
                }

                .cs-name {
                    color: var(--primary);
                }

                .cs-picture:after {
                    opacity: 1;
                }

                .cs-picture img {
                    transform: scale(1.1);
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* 300px - 380px */
            height: clamp(18.75rem, 35vw, 23.75rem);
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 39.89%);
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                transition: opacity 0.3s;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            gap: (4/16rem);
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (16/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-link {
            gap: (8/16rem);
            position: absolute;
            right: (8/16rem);
            bottom: (72/16rem);
            z-index: 1;
            padding: (8/16rem);
            opacity: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: (24/16rem);
            height: (24/16rem);
        }
    }
}

/* Tablet - 500px */
@media only screen and (min-width: 31.25rem) {
    #meet-team-1677 {
        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Small Desktop - 850px */
@media only screen and (min-width: 53.125rem) {
    #meet-team-1677 {
        .cs-item {
            grid-column: span 3;
        }
    }
}
                                

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #ABoutRPsbs-328,
    #AboutRPsbsr-328 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-quote {
            margin: 0 0 (32/16rem) 0;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            position: relative;
        }

        .cs-quote-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: #767676;
            display: block;
        }

        .cs-name {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #767676;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            bottom: (0/16rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
        }

        .cs-image-group {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, .7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: (24/16em);
            /* clips img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            width: (522/16em);
            height: (581/16em);
            left: 0;
            top: 0;
        }

        .cs-picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            right: 0;
            bottom: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #ABoutRPsbs-328,
    #AboutRPsbsr-328 {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-image-group {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-content {
            margin: 0;
        }
    }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #AboutRPsbsr-328 {
        background-color: #f7f7f7;
        .cs-picture1 {
            left: auto;
            right: 0;
        }

        .cs-picture2 {
            right: auto;
            left: 0;
        }

        .cs-quote {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #AboutRPsbsr-328 {
        .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #AboutStrip-328 {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;

        .cs-stat-group {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (600/16rem);
            margin: auto;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (40/16rem);
        }

        .cs-item {
            list-style: none;
            width: (290/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:hover {
                .cs-picture {
                    background-color: #fff;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    transform: scale(1.05);
                }
            }
        }

        .cs-picture {
            width: (80/16rem);
            height: (80/16rem);
            /* 12px - 20px */
            margin-right: clamp(0.75rem, 3vw, 1.25rem);
            border-radius: 50%;
            border: 1px solid var(--secondaryLight);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition:
                background-color 0.3s,
                box-shadow 0.3s,
                transform 0.6s;
        }

        .cs-flex-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            width: (33/16rem);
            height: auto;
        }

        .cs-header {
            font-size: (20/16rem);
            color: var(--bodyTextColorWhite);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (12/16rem);
            display: block;
        }

        .cs-link,
        .cs-hours {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-decoration: none;
            color: #828282;
            display: block;
            transition: color.3s;
        }

        .cs-link {
            &:hover {
                color: var(--primary);
            }
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #AboutStrip-328 {
        .cs-stat-group {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: (20/16rem);
            row-gap: (32/16rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #AboutStrip-328 {
        .cs-stat-group {
            max-width: (1280/16rem);
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1582 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at talet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 5vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            width: 100%;
            text-align: left;
            list-style: none;
            /* 20px - 32px */
            padding: clamp(1.25rem, 2.3vw, 2rem);
            background-color: #F7F7F7;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            grid-column: span 12;
            position: relative;
            z-index: 1;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq-1582 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}
                                

</style>
